@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-illu {
  background: url('/public/images/mainBG.png') no-repeat;
  background-size: cover;
  background-position-y: 3%;
}

.reviews {
  background: url('/public/images/reviewsBG.svg') no-repeat;
  background-size: cover;
}

.bg-gradient {
  background: url('/public/images/gradientBg.png') no-repeat;
  background-size: cover;
}