@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/2d3e3d7592d858169466b7fdffa7ffa6?family=ITC+Ronda+W01+Regular);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  font-family: "ITC Ronda W01 Regular", sans-serif;
}

.bg-illu {
  background: url('/public/images/mainBG.png') no-repeat;
  background-size: cover;
  background-position-y: 3%;
}

.reviews {
  background: url('/public/images/reviewsBG.svg') no-repeat;
  background-size: cover;
}

.bg-gradient {
  background: url('/public/images/gradientBg.png') no-repeat;
  background-size: cover;
  background-position: center;
}